<table style="width: 800px;text-align: center " class="table">
  <div class="card border-success">
    <h2 style="text-align: center" class="card-header bg-success">Create Product</h2>
  <form [formGroup]="formCreateProduct" (ngSubmit)="save()">
<!--    <div class="input-group">-->
<!--      <span class="input-group-text">Id</span>-->
<!--      <input type="text" class="form-control">-->
<!--    </div>-->
<!--    <p *ngIf="!formCreateProduct.get('id')?.valid && formCreateProduct.get('id')?.touched" class="text-danger">Nhap id</p>-->
    <div class="input-group">
      <span class="input-group-text">Name</span>
      <input type="text" class="form-control">
    </div>
    <p *ngIf="!formCreateProduct.get('name')?.valid && formCreateProduct.get('name')?.touched" class="text-danger">Nhap name</p>
    <div class="input-group">
      <span class="input-group-text">Price</span>
      <input type="text" class="form-control">
    </div>
    <p *ngIf="!formCreateProduct.get('price')?.valid && formCreateProduct.get('price')?.touched" class="text-danger">Name price</p>
    <div class="input-group">
      <span class="input-group-text">Description</span>
      <input type="text" class="form-control" >
    </div>
    <p *ngIf="!formCreateProduct.get('description')?.valid && formCreateProduct.get('description')?.touched" class="text-danger">Description
      sai</p>
    <div class="input-group" >
      <span class="input-group-text">Category</span>
      <select formControlName="category">
        <option selected [value]="null" disabled>Chọn danh mục sản phẩm</option>
        <option *ngFor="let item of category" [ngValue]="item">{{item.nameCategory}}</option>
      </select>
    </div>
    <button style="color: black; font-size: 25px" class="bg-success" type="submit" [disabled]="!formCreateProduct.valid">Create</button>
  </form>
</div>
</table>
