<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<h3>List Customer</h3>
<form>
    <input name="search">
    <button type="submit">Search</button>
</form><br>
<table class="table" border="1">
    <tr>
        <th>Id</th>
        <th>Date of Birth</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.dateOfBirth}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
        <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
        <td><a th:href="@{/view-customer/__${customer.id}__ }">View</a></td>

    </tr>
    <div>
        <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
        <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
        <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
    </div>

</table>
</body>
</html>