
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:replace="/index :: head">
</div><body>
<!---start-wrap---->
<!---start-header---->
<div th:replace="/index :: header">
</div>
<!----//End-bottom-header---->
<!---//End-header---->
<!--- start-content---->
<div class="content login-box">
	<div class="login-main">
		<div class="wrap">
			<h1>LOGIN OR CREATE AN ACCOUNT</h1>
			<div class="login-left">
				<h3>NEW CUSTOMERS</h3>
				<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				<a class="acount-btn" href="register.html">Creat an Account</a>
			</div>
			<div class="login-right">
				<h3>REGISTERED CUSTOMERS</h3>
				<p>If you have an account with us, please log in.</p>
				<form th:action="@{/login}" th:object="${userDTO}" method="post">
					<div>
						<span>Email Address<label>*</label></span>
						<input type="text" th:field="*{email}">
					</div>
					<div>
						<span>Password<label>*</label></span>
						<input type="text" th:field="*{password}">
					</div>
					<a class="forgot" href="#">Forgot Your Password?</a>
					<input type="submit" value="Login" />
				</form>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
</div>
<!---- start-bottom-grids---->
<div th:replace="/index :: bottom-grids">
</div>
<!---- //End-bottom-grids---->
<!--- //End-content---->
<!---start-footer---->
<div th:replace="~{layout/navbar::navbar}"></div>
</div>
<!---//End-footer---->
<!---//End-wrap---->
</body>
</html>

