
<div style="width: 400px" class="card border-info">
  <h3 class="card-header bg-info">Child Component</h3>
  <div class="card-body">
    <h4 class="card-title">Student Detail</h4>
    <div>
      <div>Id : {{student.id}}</div>
    </div>
    <div>
    <div>Name : {{student.name}}</div>
  </div>
    <div>
  <div>Age : {{student.age}}</div>
</div>
    <div>
<div>Gender : {{student.gender}}</div>
</div>
    <div>
      <div>Phone : {{student.phone}}</div>
    </div>
    <div>
      <div>Mark : {{student.mark}}</div>
    </div>
  </div>
</div>
