<div class="card border-info">
  <form class="container" *ngIf="formSearch" [formGroup]="formSearch" (ngSubmit)="search()">
    <label class="w-100 form-group">
      <input class="form-control" type="text" formControlName="nameSearch" placeholder="Product Name">
      <button type="submit" class="btn btn-primary mt-3">Search</button>
    </label>
  </form>

  <h2 style="text-align: center" class="card-header bg-success">List Product</h2>
  <table *ngIf="productsSearch == null" class="table table-hover table-striped">
    <table class="table table-hover table-striped">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>

      </tr>
      <tr *ngFor="let item of products; index as i">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.category.nameCategory}}</td>
        <td>{{item.description}}</td>
        <td>
          <button style="color: black" class="btn btn-danger" [routerLink]="['/product/edit', item.id]">Update</button>
        </td>
        <td>
          <button class="btn btn-warning m-2" [routerLink]="['/product/delete', item.id]">Delete</button>
        </td>
      </tr>
    </table>
    <!--  Pagination -->
    <div class="d-flex justify-content-center align-items-center">
      <button class="btn btn-dark m-2" (click)="prev()">Previous</button>
      <button class="btn btn-dark m-2" (click)="next()">Next</button>
    </div>
  </table>
</div>

