<div style="background-color: pink; height: 70px;">
  <ul class="nav">
    <li class="nav-item">
      <a style="color: black; font-size: 30px" class="nav-link active" aria-current="page" routerLink="/product">List</a>
    </li>
    <li>
      <a style="color: black; font-size: 30px" class="nav-link" routerLink="/product/create">Create</a>
    </li>
  </ul>
</div>
<br>
<br>
<div style="height: 420px">
  <router-outlet></router-outlet>
</div>
<div style="background-color: pink; height: 150px">

</div>
